<?xml version="1.0" encoding="utf-8"?>
<!-- Release 专属：移除开发期组件。原因与根治方案见 llmdoc 进度文档 §2.8。 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            tools:node="remove" />
    </application>

</manifest>
